@charset "UTF-8";
html {
  font-size: 62.5%;
  background: #f9f8f6;
  height: 100%; }

.test {
  border: 1px solid red; }

body {
  height: 100%; }

a {
  text-decoration: none; }

.normal {
  color: #434343;
  font-style: normal;
  font-size: 1.4rem; }

.border-bottom {
  border-bottom: 1px solid #cecece; }

/**************************************/
header #header_in {
  padding-top: 10px;
  padding-bottom: 4px; }
@media (min-width: 550px) {
  header .sp_navi {
    display: none; }
  header .pc_navi {
    text-align: right; }
    header .pc_navi .pc_navi_li li {
      display: inline;
      padding: 5px; } }
@media (max-width: 550px) {
  header .logo {
    text-align: center; }
  header .pc_navi {
    display: none; }
  header .social {
    text-align: center;
    position: relative; }
  header .social li {
    display: inline; }
  header .sp_navi_li {
    position: absolute;
    top: 50px;
    right: 5px;
    z-index: 10;
    width: 50%; }
    header .sp_navi_li li a {
      display: block;
      text-align: left;
      background-color: #fff;
      border-bottom: 0.5px solid #887f69; }
    header .sp_navi_li img {
      margin: 5px 0 0 5px;
      padding-left: 5px; } }

@media (max-width: 550px) {
  #main #main-side .owl-carousel {
    position: relative;
    z-index: 0; } }
#main #main-side .items {
  width: 100%; }
  #main #main-side .items .item-title {
    margin: 20px 0; }
  #main #main-side .items .item-container {
    width: 100%;
    margin: 0 auto;
    display: block;
    background-color: #fff;
    letter-spacing: -.40em; }
    @media (max-width: 550px) {
      #main #main-side .items .item-container .item-box {
        display: inline-block;
        box-sizing: border-box;
        background-color: #fff;
        width: 50%;
        border: 1px solid #f9f8f6; }
        #main #main-side .items .item-container .item-box .item-image {
          padding: 10px 10px 0px 10px; }
        #main #main-side .items .item-container .item-box .item-caption, #main #main-side .items .item-container .item-box .item-price {
          letter-spacing: normal;
          font-size: 1.2rem;
          margin: 0px 5px 5px 10px; }
        #main #main-side .items .item-container .item-box .item-price {
          letter-spacing: normal; } }
    @media (min-width: 550px) {
      #main #main-side .items .item-container .item-box {
        display: inline-block;
        box-sizing: border-box;
        background-color: #fff;
        width: 33.3%;
        border: 1px solid #f9f8f6; }
        #main #main-side .items .item-container .item-box .item-image {
          padding: 10px 10px 0px 10px; }
        #main #main-side .items .item-container .item-box .item-caption, #main #main-side .items .item-container .item-box .item-price {
          letter-spacing: normal;
          font-size: 1.2rem;
          margin: 0px 5px 5px 10px; }
        #main #main-side .items .item-container .item-box .item-price {
          letter-spacing: normal; } }
  #main #main-side .items .item-container2 {
    width: 100%;
    margin: 0 auto; }
    #main #main-side .items .item-container2 .item-box2 {
      display: inline-block;
      box-sizing: border-box;
      background-color: #fff;
      width: 100%;
      height: 250px;
      padding: 10px;
      margin: 5px 0px;
      font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Verdana, "ＭＳ Ｐゴシック", sans-serif;
      color: #434343;
      font-size: 1.2rem; }
      @media (min-width: 550px) {
        #main #main-side .items .item-container2 .item-box2 {
          width: 49%;
          margin-left: 5px;
          padding: 15px;
          height: 280px; } }
      #main #main-side .items .item-container2 .item-box2 .item-box2-title {
        font-size: 1.6rem;
        font-weight: bold; }
#main #sub-side .item-search {
  width: 100%;
  height: 100px;
  background-color: #fff; }
  #main #sub-side .item-search img {
    padding-top: 10px;
    margin-left: 15px; }
  #main #sub-side .item-search dl.search2 {
    position: relative;
    background-color: #fff; }
    #main #sub-side .item-search dl.search2 dt {
      padding: 3px;
      text-align: center; }
      #main #sub-side .item-search dl.search2 dt input {
        width: 90%;
        font-size: 1.2rem;
        height: 30px;
        line-height: 30px;
        background: none;
        background-color: #cecece; }
    #main #sub-side .item-search dl.search2 dd {
      position: absolute;
      top: 0;
      right: 0; }
      #main #sub-side .item-search dl.search2 dd button {
        display: block;
        padding-right: 20px;
        background: none;
        border: none; }
        #main #sub-side .item-search dl.search2 dd button span {
          display: block;
          width: 30px;
          height: 30px;
          background: url("../images/top/search_icon.png") no-repeat 5px 6px; }
#main #sub-side .categories .accordion {
  width: 100%; }
  #main #sub-side .categories .accordion .toggle {
    margin: 5px 0; }
  #main #sub-side .categories .accordion a {
    display: block;
    color: #fff;
    font-size: 1.4rem;
    text-decoration: none;
    background-color: #887f69;
    border-bottom: 1px solid #fff;
    cursor: pointer;
    padding: 10px 12px;
    position: relative; }
  #main #sub-side .categories .accordion a:hover {
    background-color: #675e47; }
  #main #sub-side .categories .accordion a:after, #main #sub-side .categories .accordion a:active:after {
    position: absolute;
    right: 12px;
    top: 14px;
    color: #fff; }
  #main #sub-side .categories .accordion a:after {
    content: url(../images/top/next_icon.png); }
  #main #sub-side .categories .accordion a:active:after {
    content: url(../images/top/down_icon.png); }
  #main #sub-side .categories .accordion ul li {
    list-style-type: none;
    width: 100%;
    margin: 1px; }
  #main #sub-side .categories .accordion ul li a {
    display: block;
    color: #434343;
    font-size: 1.4rem;
    text-decoration: none;
    background-color: #fff;
    border-bottom: 1px solid #fff;
    cursor: pointer;
    padding: 10px 12px; }
  #main #sub-side .categories .accordion ul li a:hover {
    background-color: #cecece; }
  #main #sub-side .categories .accordion ul li a:after, #main #sub-side .categories .accordion a:active:after {
    font-size: 12px;
    position: absolute;
    right: 12px;
    top: 14px;
    color: #434343; }
  #main #sub-side .categories .accordion ul li a:after {
    content: url(../images/top/next_icon_gray.png); }
  #main #sub-side .categories .accordion ul li a:active:after {
    content: url(../images/top/down_icon.png); }
#main #sub-side .side-section .side-item {
  margin: 15px 0;
  background-color: #fff; }
  #main #sub-side .side-section .side-item .side-item-title {
    display: block;
    color: #fff;
    font-size: 1.4rem;
    background-color: #887f69;
    border-bottom: 1px solid #fff;
    padding: 10px 12px; }
  #main #sub-side .side-section .side-item .side-item-container {
    width: 100%; }
    #main #sub-side .side-section .side-item .side-item-container .side-item-box {
      display: block; }
    #main #sub-side .side-section .side-item .side-item-container .side-item-image {
      margin: 10px; }
    #main #sub-side .side-section .side-item .side-item-container .side-item-contents {
      font-size: 1.2rem;
      margin: 10px; }
      #main #sub-side .side-section .side-item .side-item-container .side-item-contents .side-item-more {
        text-align: center;
        margin: 10px; }
    @media (max-width: 550px) {
      #main #sub-side .side-section .side-item .side-item-container .side-item-box {
        display: inline-block; }
      #main #sub-side .side-section .side-item .side-item-container .side-item-image {
        box-sizing: border-box;
        display: inline-block;
        width: 47%;
        margin: 2px;
        padding: 5px; }
      #main #sub-side .side-section .side-item .side-item-container .side-item-contents {
        box-sizing: border-box;
        display: inline-block;
        width: 47%;
        margin: 2px;
        vertical-align: top;
        font-size: 1rem; }
        #main #sub-side .side-section .side-item .side-item-container .side-item-contents .side-item-more {
          text-align: center;
          margin: 15px; } }

.page_top {
  position: fixed;
  bottom: 10px;
  right: 10px;
  padding: 10px 20px;
  color: #fff;
  font-size: 20px;
  text-decoration: none; }

.page_top:hover {
  background: #887f69; }

#footer {
  padding-top: 30px;
  margin-top: 60px;
  border-top: 2px solid #434343; }
  #footer ul {
    text-align: center; }
  #footer li {
    display: inline-block;
    margin: 5px;
    font-size: 1.2rem; }
  #footer li:after {
    content: "・";
    margin-left: 10px; }
  #footer li:last-child:after {
    content: none; }
  #footer .copyright {
    color: #cecece;
    font-size: 1rem;
    text-align: center; }

.main-header {
  width: 100%;
  background-color: #e8e4da;
  border-radius: 0.3rem; }
  .main-header ul {
    margin-bottom: 10px; }
  .main-header .breadcrumbs li {
    font-size: 1rem;
    color: #887f69;
    display: inline-block;
    padding: 10px 0 0 0px;
    margin-left: 10px; }
    .main-header .breadcrumbs li a {
      color: #887f69; }
  .main-header .breadcrumbs li:first-child:before {
    content: url(../images/list/home_icon.png);
    padding-right: 8px;
    position: relative;
    top: 1px; }
  .main-header .breadcrumbs li:after {
    content: "/";
    margin-left: 15px; }
  .main-header .breadcrumbs li:last-child:after {
    content: none; }

.pagination .page {
  display: block;
  width: 100%;
  height: 30px;
  margin-top: 15px; }
  .pagination .page a {
    display: block;
    width: 80px;
    height: 30px;
    text-align: center;
    padding-top: 6px;
    box-sizing: border-box;
    color: #fff;
    font-size: 1rem;
    background: #887f69; }
  .pagination .page .pageback {
    float: left; }
  .pagination .page .pagenext {
    float: right; }
  .pagination .page .page:after {
    content: "";
    clear: both;
    display: block; }

.product_detail {
  background-color: #fff; }
  .product_detail .product_title {
    border-bottom: 1px solid #cecece;
    font-size: 1.2rem;
    color: #434343;
    font-weight: bold;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Verdana, "ＭＳ Ｐゴシック", sans-serif;
    padding-top: 15px;
    padding-bottom: 15px; }
  .product_detail .product_image_container {
    padding-top: 15px;
    width: 100%; }
    .product_detail .product_image_container .product_image_sub_container {
      cursor: pointer; }
      .product_detail .product_image_container .product_image_sub_container .product_image_sub {
        display: inline-block;
        width: 48%; }
  .product_detail .product_text_container .product_text_title {
    margin: 15px 5px; }
  .product_detail .product_text_container .product_text_title2 {
    margin: 15px 5px;
    border-bottom: 1px solid #cecece;
    font-size: 1.2rem;
    color: #434343;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Verdana, "ＭＳ Ｐゴシック", sans-serif; }
  .product_detail .product_text_container .price, .product_detail .product_text_container .quantity {
    border-bottom: solid 1px #e8e4da;
    padding-top: 10px; }
    .product_detail .product_text_container .price .textprice, .product_detail .product_text_container .quantity .textprice {
      color: red;
      font-size: 2.5rem;
      font-style: italic; }
  .product_detail .product_text_container .product_text {
    font-size: 1.0rem;
    color: #434343;
    font-weight: bold;
    line-height: 1.6;
    margin: 0 5px;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Verdana, "ＭＳ Ｐゴシック", sans-serif; }
    .product_detail .product_text_container .product_text p {
      font-size: 1.2rem;
      color: #434343; }
  .product_detail table {
    border: solid 1px #e8e4da;
    border-collapse: collapse; }
    .product_detail table th, .product_detail table td {
      text-align: center; }
  .product_detail .gray {
    background-color: #f9f9f9; }

@media (min-width: 550px) {
  #BTM_ADD_CART {
    margin-top: -80px; } }

/*# sourceMappingURL=style.css.map */
